<div class="row">
    <div class="container">
        <div class="col-md-10">
            <table class="table table-bordered text-center text-white">
                <thead class="bg-dark">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Edit</th>
                </tr>
                </thead>/
                <tbody class="text-dark">

                    <tr>
                        <td>{{id}}</td>
                        <td>{{description}}</td>
                        <td class="d-flex justify-content-center">
                            <form action="" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>